<%- include('header'); -%>
<div class="box" id="heading">
  <h1> <%= title %> </h1>
</div>

<div class="box">

  <%  for(var i = 0; i<allItems.length; i++){ %>
  <form action="/delete", method="post">
    <div class="item">
      <input type="checkbox" onChange="this.form.submit()" name="itemToDelete" value="<%= allItems[i]._id %>">
      <p> <%= allItems[i].name %> </p>
    </div>
    <input type="hidden" name="listName" value="<%= title %>"></input>
  </form>
  <%  } %>

  <form class="item" action="/" method="post">
    <input type="text" autocomplete="off" name="newTask" placeholder="Add New Task">
    <button type="submit" name="listType" value= "<%= title %>">+</button>
  </form>
</div>
<%- include('footer'); -%>
